@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    +962796312785
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ahmadfrer@gmail.com">ahmadfrer@gmail.com</a><br />
</address>