@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>School Management System<sup>β</sup></h1>
    <p class="lead">Developing the school management system, including admission and registration, computerized exams and marks, attendance and grades,and built a strong database using the code first approach.</p>
    <p><a href="http://www.ahmad-sheblak.ml/" class="btn btn-primary btn-lg">Learn About the Creator &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registration</h2>
        <p>
            Registration students in courses.
        </p>
        <p><a class="btn btn-default" href="/Registration/Registration">Click here to Registration &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Students</h2>
        <p>List of Student in School.</p>
        <p><a class="btn btn-default" href="/Students">Click here to View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>List of courses in School</p>
        <p><a class="btn btn-default" href="/Courses">Click here to View &raquo;</a></p>
    </div>
</div>